<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


	<bean id="addressMonitor"
		class="gov.nih.nci.cagrid.portal2.aggr.geocode.AddressMonitor">
		<property name="addressDao" ref="addressDao"/>
		<property name="geocoder">
			<bean
				class="gov.nih.nci.cagrid.portal2.aggr.geocode.YahooGeocoder">
				<property name="baseUrl">
					<value>
						http://api.local.yahoo.com/MapsService/V1/geocode
					</value>
				</property>
				<property name="yahooAppId">
					<value>Qe7jSizV34F.2qscztSCYBhp6wBahsYBLHnqZrZ_ivRFflp9Fxhh83JuSbnT04DS1Q--</value>
				</property>
				<property name="timeout" value="10000"/>
			</bean>
		</property>
	</bean>

	<bean id="checkAddresses"
		class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
		<property name="targetObject" ref="addressMonitor" />
		<property name="targetMethod" value="checkAddresses" />
	</bean>

	<bean id="checkAddressesTask"
		class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="3000" />
		<property name="period" value="60000" />
		<property name="timerTask" ref="checkAddresses" />
	</bean>

	<bean id="geocodeTimerFactory"
		class="org.springframework.scheduling.timer.TimerFactoryBean">

		<property name="scheduledTimerTasks">
			<list>
				<ref bean="checkAddressesTask" />
			</list>
		</property>
	</bean>

</beans>