<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<import resource="classpath:applicationContext-aggr.xml"/>

	<bean id="xmlSchemaMonitor"
		class="gov.nih.nci.cagrid.portal.aggr.metachange.XMLSchemaMonitor" autowire="byName">
		<property name="gmeUrl" ref="gmeUrl"/>
		<property name="cadsrUrl" ref="cadsrUrl"/>
	</bean>

	<bean id="checkForXmlSchemas"
		class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
		<property name="targetObject" ref="xmlSchemaMonitor" />
		<property name="targetMethod" value="checkForXMLSchemas" />
	</bean>

	<bean id="checkForXmlSchemasTask"
		class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="200000" />
		<property name="period" ref="slowDefaultPeriod" />
		<property name="timerTask" ref="checkForXmlSchemas" />
	</bean>

	<bean id="xmlSchemasTimerFactory"
		class="org.springframework.scheduling.timer.TimerFactoryBean">

		<property name="scheduledTimerTasks">
			<list>
				<ref bean="checkForXmlSchemasTask" />
			</list>
		</property>
	</bean>

</beans>