<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <import resource="classpath:applicationContext-aggr-status-beans.xml"/>
    <import resource="classpath:applicationContext-aggr-regsvc.xml"/>

    <bean id="checkForServiceStatusChanges"
          class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
        <property name="targetObject" ref="serviceStatusChangeMonitor"/>
        <property name="targetMethod" value="checkForServiceStatusChanges"/>
    </bean>

    <bean id="checkForServiceStatusChangesTask"
          class="org.springframework.scheduling.timer.ScheduledTimerTask">
        <property name="delay" value="9000"/>
        <property name="period" ref="defaultPeriod"/>
        <property name="timerTask" ref="checkForServiceStatusChanges"/>
    </bean>


    <bean id="checkServiceStatus"
          class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
        <property name="targetObject" ref="serviceStatusMonitor"/>
        <property name="targetMethod" value="checkServiceStatus"/>
    </bean>

    <bean id="checkServiceStatusTask"
          class="org.springframework.scheduling.timer.ScheduledTimerTask">
        <property name="delay" value="3000"/>
        <property name="period" ref="defaultPeriod"/>
        <property name="timerTask" ref="checkServiceStatus"/>
    </bean>

    <bean id="statusTimerFactory"
          class="org.springframework.scheduling.timer.TimerFactoryBean">

        <property name="scheduledTimerTasks">
            <list>
                <ref bean="checkForServiceStatusChangesTask"/>
                <ref bean="checkServiceStatusTask"/>
            </list>
        </property>
    </bean>

     <!--update the cache of service-->
    <bean id="regsvcTimerFactory"
          class="org.springframework.scheduling.timer.TimerFactoryBean">
        <property name="scheduledTimerTasks">
            <list>
                <bean id="updateServicCacheTask"
                      class="org.springframework.scheduling.timer.ScheduledTimerTask">
                    <property name="delay" value="12000"/>
                    <property name="period" ref="fastDefaultPeriod"/>
                    <property name="timerTask">
                        <bean id="updateServicCache"
                              class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
                            <property name="targetObject" ref="cacheFirstDynamicServiceStatusProvider"/>
                            <property name="targetMethod" value="monitorIndex"/>
                        </bean>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

</beans>