<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <import resource="classpath:applicationContext-aggr-regsvc.xml"/>

    <bean id="serviceStatusChangeMonitor"
          class="gov.nih.nci.cagrid.portal.aggr.status.ServiceStatusChangeMonitor">
        <property name="indexServiceUrls" value="${cagrid.portal.indexServiceUrls}"/>
        <property name="dynamicServiceStatusProvider">
            <bean
                    class="gov.nih.nci.cagrid.portal.aggr.status.IdxDependantDynamicServiceStatusProvider">
                <property name="indexServiceUrls" value="${cagrid.portal.indexServiceUrls}"/>
                <property name="dynamicServiceUrlProvider" ref="dynamicServiceUrlProvider"/>
                <property name="strictIndexVerification" value="${strict.index.verification}"/>
                <property name="timeout" ref="defaultTimeout"/>
            </bean>
        </property>
        <property name="cachedServiceStatusProvider">
            <bean
                    class="gov.nih.nci.cagrid.portal.aggr.status.DBCachedServiceStatusProvider">
                <property name="gridServiceDao" ref="gridServiceDao"/>
            </bean>
        </property>
        <property name="cachedServiceUrlProvider">
            <bean
                    class="gov.nih.nci.cagrid.portal.aggr.regsvc.DBCachedServiceUrlProvider">
                <property name="gridServiceDao" ref="gridServiceDao"/>
            </bean>
        </property>
    </bean>

    <bean id="checkForServiceStatusChanges"
          class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
        <property name="targetObject" ref="serviceStatusChangeMonitor"/>
        <property name="targetMethod" value="checkForServiceStatusChanges"/>
    </bean>

    <bean id="checkForServiceStatusChangesTask"
          class="org.springframework.scheduling.timer.ScheduledTimerTask">
        <property name="delay" value="9000"/>
        <property name="period" ref="defaultPeriod"/>
        <property name="timerTask" ref="checkForServiceStatusChanges"/>
    </bean>

    <bean id="serviceStatusChangeListener"
          class="gov.nih.nci.cagrid.portal.aggr.status.ServiceStatusChangeListener">
        <property name="gridServiceDao" ref="gridServiceDao"/>
    </bean>

    <bean id="serviceStatusMonitor"
          class="gov.nih.nci.cagrid.portal.aggr.status.ServiceStatusMonitor">
        <property name="indexServiceUrls" value="${cagrid.portal.indexServiceUrls}"/>
        <property name="cachedServiceUrlProvider">
            <bean
                    class="gov.nih.nci.cagrid.portal.aggr.regsvc.DBCachedServiceUrlProvider">
                <property name="gridServiceDao" ref="gridServiceDao"/>
            </bean>
        </property>
        <property name="gridServiceDao" ref="gridServiceDao"/>
        <property name="serviceStatusPolicy">
            <bean class="gov.nih.nci.cagrid.portal.aggr.status.SimpleServiceStatusPolicy">
                <property name="maxDowntimeHours" value="96"/>
            </bean>
        </property>
    </bean>

    <bean id="checkServiceStatus"
          class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
        <property name="targetObject" ref="serviceStatusMonitor"/>
        <property name="targetMethod" value="checkServiceStatus"/>
    </bean>

    <bean id="checkServiceStatusTask"
          class="org.springframework.scheduling.timer.ScheduledTimerTask">
        <property name="delay" value="3000"/>
        <property name="period" ref="defaultPeriod"/>
        <property name="timerTask" ref="checkServiceStatus"/>
    </bean>

    <bean id="statusTimerFactory"
          class="org.springframework.scheduling.timer.TimerFactoryBean">

        <property name="scheduledTimerTasks">
            <list>
                <ref bean="checkForServiceStatusChangesTask"/>
                <ref bean="checkServiceStatusTask"/>
            </list>
        </property>
    </bean>

</beans>