<!--
  The Ohio State University Research Foundation, The University of Chicago -
  Argonne National Laboratory, Emory University, SemanticBits LLC, 
  and Ekagra Software Technologies Ltd.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/cagrid-portal/LICENSE.txt for details.
-->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/model1</property>
		<property name="connection.username">dbuser</property>
		<property name="connection.password">dbuser</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

	<mapping class="model1.domain.Annotation"/>
<mapping class="model1.domain.Gene"/>
<mapping class="model1.domain.Source"/>
<mapping class="model1.domain.Term"/>
</session-factory>

</hibernate-configuration>
