<?xml version="1.0" encoding="UTF-8"?>
<EventHandlerConfiguration xmlns="http://cagrid.org/tools/events"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <Property name="db-name" value="test_tools"/>
        <Property name="db-table" value="event_auditor"/>
        <Property name="db-host" value="localhost"/>
        <Property name="db-port" value="3306"/>
        <Property name="db-username" value="root"/>
        <Property name="db-password" value=""/>
</EventHandlerConfiguration>

