<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>

    <!-- datasource bean for jdbc connection. Seperate from Hibernate DataSource -->
    <bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="@jdbc.driverClassName@"/>
        <property name="url" value="@jdbc.url@"/>
        <property name="username" value="@jdbc.username@"/>
        <property name="password" value="@jdbc.password@"/>
    </bean>


    <!-- #############   Generic Bean intialization section #############                -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <!--include all hibernate mapping files for domain objects-->
        <property name="mappingDirectoryLocations">
            <list>
                <value>classpath:gov/nih/nci/cagrid/portal/domain</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <!-- #############   DAO #############                -->

    <bean id="baseDAO"
          class="gov.nih.nci.cagrid.portal.dao.hibernate.BaseDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="gridServiceBaseDAO"
          class="gov.nih.nci.cagrid.portal.dao.hibernate.GridServiceBaseDAOImpl"
          parent="baseDAO">
    </bean>

    <bean id="indexDAO"
          class="gov.nih.nci.cagrid.portal.dao.hibernate.IndexDAOImpl"
          parent="baseDAO">
    </bean>

    <bean id="jdbcDAO"
          class="gov.nih.nci.cagrid.portal.dao.jdbc.JdbcDAOImpl">
        <property name="dataSource" ref="jdbcDataSource"/>
    </bean>


    <!-- #############   Managers #############                -->

    <!--Base Manager-->
    <bean id="baseManager" class="gov.nih.nci.cagrid.portal.manager.BaseManagerImpl"
          abstract="true">
        <property name="baseDAO">
            <ref bean="baseDAO"/>
        </property>
        <property name="indexDAO">
            <ref bean="indexDAO"/>
        </property>
        <property name="gridServiceBaseDAO">
            <ref bean="gridServiceBaseDAO"/>
        </property>
        <property name="jdbcDAO">
            <ref bean="jdbcDAO"/>
        </property>


    </bean>

    <bean name="gridServiceManager"
          class="gov.nih.nci.cagrid.portal.manager.GridServiceManagerImpl"
          parent="baseManager"/>


</beans>