<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>

    <bean id="metadataAggregatorFactory"
          class="gov.nih.nci.cagrid.portal.aggregator.MetadataAggregatorFactory">
        <constructor-arg index="0">
            <ref bean="gridServiceManager"/>
        </constructor-arg>
    </bean>


    <bean id="indexAggregatorFactory"
          class="gov.nih.nci.cagrid.portal.aggregator.IndexAggregatorFactory">
        <constructor-arg index="0" type="java.lang.Boolean">
            <value>false</value>
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="gridServiceManager"/>
        </constructor-arg>
    </bean>

    <bean id="indexAggregatorTask"
          class="org.springframework.scheduling.timer.ScheduledTimerTask">
        <property name="timerTask">
            <ref local="indexAggregatorFactory"/>
        </property>
        <property name="period">
            <!--Run it every 10 mins-->
            <value>@aggregator.frequency@</value>
        </property>
        <property name="delay">
            <!--Put a delay so doesn't start before DB initialized-->
            <value>8000</value>
        </property>
    </bean>

    <!-- First thing to do is to sync with GTS to establish trust -->
    <bean id="syncGTSInitBean" class="gov.nih.nci.cagrid.portal.utils.SyncGTSInitUtility">
        <!--Set the indexes to aggregate from-->
        <property name="syncGTSDescriptionFile">
            <value>classpath:sync-description.xml</value>
        </property>
    </bean>

    <!-- Also set the syncGTSInitBean as a timer task to sync periodically -->
    <bean id="syncMethodInvokingTask" class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
        <property name="targetObject">
            <ref bean="syncGTSInitBean"/>
        </property>
        <property name="targetMethod">
            <value>afterPropertiesSet</value>
        </property>
    </bean>

    <!-- Sync every 10 minutes -->
    <bean id="syncGTSTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
        <property name="delay">
            <value>60000</value>
        </property>
        <property name="period">
            <value>60000</value>
        </property>
        <property name="timerTask">
            <ref bean="syncMethodInvokingTask"/>
        </property>
    </bean>


    <bean id="timerFactory"
          class="org.springframework.scheduling.timer.TimerFactoryBean">
        <property name="scheduledTimerTasks">
            <list>
                <ref local="indexAggregatorTask"/>
                <ref local="syncGTSTask"/>
            </list>
        </property>
    </bean>


</beans>
