<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>

    <!-- datasource bean for jdbc connection. Seperate from Hibernate DataSource -->
    <bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="@jdbc.driverClassName@"/>
        <property name="url" value="@jdbc.url@"/>
        <property name="username" value="@jdbc.username@"/>
        <property name="password" value="@jdbc.password@"/>
    </bean>


    <!-- #############   Transaction Manager configuration #############                -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <!--include all hibernate mapping files for domain objects-->
        <property name="mappingDirectoryLocations">
            <list>
                <value>classpath:gov/nih/nci/cagrid/portal/domain</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <!-- #############   Managers #############                -->

    <!--Base Manager-->
    <bean id="baseManager" class="gov.nih.nci.cagrid.portal.manager.BaseManagerImpl"
          abstract="true">
        <property name="baseDAO">
            <ref bean="baseDAO"/>
        </property>
        <property name="gridServiceBaseDAO">
            <ref bean="gridServiceBaseDAO"/>
        </property>
        <property name="jdbcDAO">
            <ref bean="jdbcDAO"/>
        </property>
    </bean>

    <!-- main Service that participates in transactions-->
    <bean id="gridServiceManager"
          class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target">
            <bean name="gridServiceManagerTarget"
                  class="gov.nih.nci.cagrid.portal.manager.GridServiceManagerImpl"
                  parent="baseManager"/>
        </property>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>

            </props>
        </property>
    </bean>

    <bean name="rcManager"
          class="gov.nih.nci.cagrid.portal.manager.ResearchCenterManagerImpl"
          parent="baseManager">
        <property name="rcDAO">
            <ref bean="rcDAO"/>
        </property>
    </bean>

    <bean name="pocManager"
          class="gov.nih.nci.cagrid.portal.manager.PointOfContactManagerImpl"
          parent="baseManager">
        <property name="pocDAO">
            <ref bean="pocDAO"/>
        </property>
    </bean>


    <!-- #############   DAO #############                -->

    <bean id="baseDAO"
          class="gov.nih.nci.cagrid.portal.dao.hibernate.BaseDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>


    <bean id="gridServiceBaseDAO"
          class="gov.nih.nci.cagrid.portal.dao.hibernate.GridServiceBaseDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="rcDAO"
          class="gov.nih.nci.cagrid.portal.dao.hibernate.ResearchCenterDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="pocDAO"
          class="gov.nih.nci.cagrid.portal.dao.hibernate.PointOfContactDAOImpl">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="jdbcDAO"
          class="gov.nih.nci.cagrid.portal.dao.jdbc.JdbcDAOImpl">
        <property name="dataSource" ref="jdbcDataSource"/>
    </bean>


</beans>