<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>

    <bean id="metadataAggregatorFactory"
          class="gov.nih.nci.cagrid.portal.aggregator.MetadataAggregatorFactory">
        <constructor-arg index="0">
            <ref bean="gridServiceManager"/>
        </constructor-arg>
    </bean>


    <bean id="indexAggregatorFactory"
          class="gov.nih.nci.cagrid.portal.aggregator.IndexAggregatorFactory">
        <constructor-arg index="0" type="java.lang.Boolean">
            <value>false</value>
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="gridServiceManager"/>
        </constructor-arg>
    </bean>

    <bean id="indexAggregatorTask"
          class="org.springframework.scheduling.timer.ScheduledTimerTask">
        <property name="timerTask">
            <ref local="indexAggregatorFactory"/>
        </property>
        <property name="period">
            <!--Run it every 10 mins-->
            <value>600000</value>
        </property>
        <property name="delay">
            <!--Put a delay so doesn't start before DB initialized-->
            <value>8000</value>
        </property>
    </bean>

    <bean id="timerFactory"
          class="org.springframework.scheduling.timer.TimerFactoryBean">
        <property name="scheduledTimerTasks">
            <list>
                <ref local="indexAggregatorTask"/>
            </list>
        </property>
    </bean>


</beans>
