<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


    <bean id="defaultDelay" class="java.lang.Long">
        <constructor-arg value="${cagrid.portal.aggr.defaultDelay}"/>
    </bean>

    <bean id="baseSolrURL" class="java.lang.String">
        <constructor-arg value="${cagrid.portal.solr.http.url}"/>
    </bean>

    <bean id="localhostURL" class="java.lang.String">
        <constructor-arg value="http://localhost:${cagrid.portal.http.port}"/>
    </bean>

    <!--will initialize on container startup-->
    <bean id="solrCommandExecutor" class="gov.nih.nci.cagrid.portal.search.SolrCommandExecutor"
          p:httpClient-ref="defaultHttpClient"
          p:baseSolrURL-ref="localhostURL" p:localhostURL-ref="localhostURL">
        <constructor-arg value="/dataimport?command=full-import"/>
    </bean>

    <bean class="gov.nih.nci.cagrid.portal.search.PortalDaoAspect" lazy-init="true"
           p:httpClient-ref="defaultHttpClient"
           p:baseSolrURL-ref="localhostURL" p:localhostURL-ref="localhostURL">
        <constructor-arg value="/dataimport/command=delta-import"/>
    </bean>

    <bean id="defaultHttpClient" class="org.apache.commons.httpclient.HttpClient"/>

    <bean
            class="org.springframework.scheduling.timer.TimerFactoryBean">
        <property name="scheduledTimerTasks">
            <list>
                <bean
                        class="org.springframework.scheduling.timer.ScheduledTimerTask">
                    <property name="delay" ref="defaultDelay"/>
                    <property name="timerTask">
                        <bean id="statusChangeArchiverTaskBean"
                              class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
                            <property name="targetObject" ref="solrCommandExecutor"/>
                            <property name="targetMethod" value="runCommand"/>
                        </bean>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

</beans>