.mapContainer {
	width:615px;
	margin-right:20px;
}
div.mapLoadingMsg {
    color:#FF0033;
    font-size:11px;
    font-weight:bold;
    font-style:italic;
}

div.mapNode {
    border: 2px solid #5C5C5C;
    height:300px;
}

div.mapInfoPopup {
    font-size: 9px;
}

span.summary{
    font-size:11px;
    padding-left:3px;
}
#mapLegend {
	font-size:7pt;
	padding:10px 5px 5px;
	background-color:#efefef;
	border:1px solid gray;
	width:603px;
	color:gray;
}

#mapLegend a {
    text-decoration:none;
}

#mapLegend div#textMap {
    float:left;    
}

#mapLegend img {
	vertical-align:middle;
	margin:5px 5px 0 10px;
}

span.subMapIcon{
   cursor:pointer;
}

span.mapLink{
    color:#032C5A;
    font-weight:bold;
}


div.gss_section {
    margin-top:5px;
    font-weight:bold;
	color: Navy;
}

div.gss_line {
    font-size:1.0em;
	margin-left: 10px;
}

div.gss_last_update {
	margin-top: 10px;
	margin-left: 50px;
	color: Gray;
	font-size:7pt;
}

div.gss_line a{
    font-size:1.0em;
    font:1.0em Arial,Helvetica,Verdana,sans-serif;
}