body {
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active {
/* default links */
    text-decoration: none;
}

/*###############
DATA TABLE BEGINS
###############*/

.dataRowLight {
/* for the light color of alternating rows */
    background-color: #EEEEE0; /* constant: blue */
    color: #000000; /* constant: black */
}

.dataRowDark {
/* for the dark color of alternating rows */
    background-color: #D3D3D3; /* constant: dark blue */
    color: #000000; /* constant: black */
    padding: 0.2em;
}

.dataCellText {
/* for text output cells */
    font-size: 1em;
    padding: 0.1em 0.2em 0.1em 0.2em;
    line-height: 1.5em;
    vertical-align: middle;
}

.dataCellTextBold {
/* for text output cells */
    font-size: 0.8em;
    padding: 0em;
    padding-left: 0.1cm;
    line-height: 1.5em;
    vertical-align: middle;
    font-weight: bold;
    width: 25%;
}

.dataPagingSection {
/* for the cell that contains the paging table */
    border-right: 1px solid #CCCCCC; /* constant: dark gray */
    border-top: 1px solid #CCCCCC; /* constant: dark gray */
    border-left: 1px solid #CCCCCC; /* constant: dark gray */
    background-color: #F4F4F5; /* constant: light gray */
}

.contentTableHeader {
/* for the horizontal column headers */
    font-family: arial, helvetica, verdana, sans-serif; /*background-color: #CCCCCC; /* constant: medium gray */
    font-size: 1.1em;
    background-color: #797C9C; /* constant: light purple */
    color: #FFFFFF; /* constant: black */
    font-weight: bold;
    padding: 0.1cm;
    border-right: 1px solid #CCCCCC; /* constant: dark gray */
    border-bottom: 1px solid #CCCCCC; /* constant: dark gray */
    border-top: 1px solid #CCCCCC; /* constant: dark gray */
    border-left: 1px solid #CCCCCC; /* constant: dark gray */
    text-align: left;
    text-decoration: none;
}

.contentTableHeaderCell {
    width: 20%;
    padding: 0.3em 0 0.3em 0em;
    font-size: 1.0em;
}

.fdTableSortTrigger {
    text-decoration: none;
    font-size: 1.1em;
    color: #FFFFFF; /* constant: black */
    font-weight: bold;
    padding: 0.1cm;
}

.pageTxtBtn {
    display: block;
    width: 2em;
    line-height: 2em;
    text-align: center;
    background: #FFFFFF url("<c:url value='/images/scroller/gradient.gif'/>") repeat-x 0 -20px;
}

ul.fdtablePaginater li div {
    opacity: 0.5;
}

a.currentPage {
    font-weight: bolder;
    border-color: #A84444 !important
}

ul.fdtablePaginater li {
    width: auto;
    float: left;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 3px;
}

ul.fdtablePaginater li a, ul.fdtablePaginater li div {
    border: 1px solid #CCCCCC;
    font-family: georgia, serif;
    font-size: 1em;
    display: block;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding: 0;
    width: 2em;
}

.loginNotice {
    margin-top:30px;
    font-size: 8pt;
    width:70%;
    color: #6f6f6f;
}