/*<!--do not change. css modified by doc-to-help-->*/a.d2hpreviousenabled {
	font-weight: normal; color: blue; font-style: normal; text-decoration: underline
}
font.d2hpreviousdisabled {
	font-weight: normal; color: black; font-style: normal; text-decoration: none
}
a.d2hnextenabled {
	font-weight: normal; color: blue; font-style: normal; text-decoration: underline
}
font.d2hnextdisabled {
	font-weight: normal; color: black; font-style: normal; text-decoration: none
}
p.linknav {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
font.d2h_breadcrumbscontentsonly {
	font-weight: normal; color: black; font-style: normal; text-decoration: none
}
a.d2h_breadcrumbsnormal {
	font-weight: normal; color: blue; font-style: normal; text-decoration: none
}
font.d2h_breadcrumbsselected {
	font-weight: normal; color: purple; font-style: normal; text-decoration: none
}
a.d2h_breadcrumbsnormal:hover {
	font-weight: normal; color: red; font-style: normal; text-decoration: none
}
font.d2h_breadcrumbslabel {
	font-weight: normal; color: black; font-style: normal; text-decoration: none
}
font.d2h_breadcrumbslinkseparator {
	font-weight: normal; color: black; font-style: normal; text-decoration: none
}
div.d2h_breadcrumbs {
	border-bottom: gray 1px solid
}
