<div id="navigation" class="sort-pages modify-pages">
	<ul class="signIn">
		#if ($show_sign_in)
			<li class="sign-in">
				<a href="$sign_in_url">$sign_in_text</a>
			</li>
			
		#end

		#if ($show_my_account)
			<!--
			<li class="my-account">
				<a href="$my_account_url">$my_account_text</a>
			</li>
			-->

			<!-- Provide a link to the user's profile (catalog entry) page. -->
			#* Unfortunately, this doesn't work.
			#set ($cgp_profile_url = $taglibLiferay.actionURL("MyPortlet", "param1=one&param2=two"))
			*#
			<li>			
				<a href="http://localhost:8080/web/guest/catalog/people?p_p_id=BrowsePortlet_WAR_cagridportlets&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&_BrowsePortlet_WAR_cagridportlets_operation=viewProfile">My Profile</a>
			</li>
			<li>
				|
			</li>
			

		#end

		#if ($show_sign_out)
			<li class="sign-out">
				<a href="$sign_out_url">$sign_out_text</a>
			</li>
		#end
		</ul>
    <ul>
        #foreach ($nav_item in $nav_items)			
			#if ($nav_item.isSelected())				
				#set ($nav_item_class = "selected")			
			#else				
				#set ($nav_item_class = "")			
		#end 
        <li class="$nav_item_class">
            #set($navName = $nav_item.getName()) <a href="$nav_item.getURL()" $nav_item.getTarget()  id="$stringUtil.replace($navName, ' ', '_')"><span>$navName</span></a>
            #if ($nav_item.hasChildren()) 
            <ul class="child-menu">
                #foreach ($nav_child in $nav_item.getChildren()) 
                <li>
                    <a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child. getName() </a>
                </li>
                #end 
            </ul>
            #end 
        </li>
        #end 
    </ul>
</div>
