<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <import resource="applicationContext-notification.xml"/>

    <!--seperate config. Easier to test -->

    <aop:config proxy-target-class="true">
        <aop:pointcut id="portalMailSendFilter"
                      expression="execution(* org.springframework.mail.javamail.JavaMailSenderImpl.send*(..))"/>
        <aop:pointcut id="userMailSendFilter" expression="execution(*  gov.nih.nci.cagrid.portal.notification.NotificationSender.sendMessage(gov.nih.nci.cagrid.portal.domain.NotificationSubscriber,org.springframework.context.ApplicationEvent))
                    and args(sub,evt)"/>

        <aop:aspect ref="portalNotificationFilter">
            <aop:around pointcut-ref="portalMailSendFilter"
                        method="filter"/>
        </aop:aspect>

        <aop:aspect ref="userNotificationFilter">
            <aop:around
                    pointcut-ref="userMailSendFilter"
                    arg-names="sub,evt"
                    method="filter"/>
        </aop:aspect>
    </aop:config>

    <!--filter to enable/disable notifications-->
    <bean id="portalNotificationFilter" class="gov.nih.nci.cagrid.portal.notification.aspect.PortalNotificationsFilter">
        <property name="enableNotifications">
            <bean class="java.lang.Boolean">
                <constructor-arg value="${cagrid.portal.notifications.enabled}"/>
            </bean>
        </property>
    </bean>

    <bean id="userNotificationFilter" class="gov.nih.nci.cagrid.portal.notification.aspect.UserNotificationFilter"
          autowire="byName">
    </bean>


</beans>