<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">


    <import resource="classpath:applicationContext-aggr.xml"/>

    <bean id="abstractCatalogCreator"
          abstract="true" class="gov.nih.nci.cagrid.portal.aggr.catalog.AbstractCatalogCreator"
          autowire="byName"/>

    <bean id="institutionCatalogCreator" parent="abstractCatalogCreator"
          class="gov.nih.nci.cagrid.portal.aggr.catalog.InstitutionCatalogCreator"
          p:institutionCatalogEntryDao-ref="institutionCatalogEntryDao"
          p:participantDao-ref="participantDao"
          autowire="byName"/>

    <bean id="personCatalogCreator" parent="abstractCatalogCreator"
          class="gov.nih.nci.cagrid.portal.aggr.catalog.PersonCatalogCreator"
          p:personCatalogEntryDao-ref="personCatalogEntryDao"
          p:portalUserDao-ref="portalUserDao"
          autowire="byName"/>

     <bean id="pocCatalogCreator" parent="abstractCatalogCreator"
          class="gov.nih.nci.cagrid.portal.aggr.catalog.POCCatalogCreator"
          autowire="byName"/>

     <bean id="gridServiceEndPointCatalogCreatorDelegate" 
          class="gov.nih.nci.cagrid.portal.aggr.catalog.GridServiceEndPointCatalogCreatorDelegate"
          autowire="byName"/>
          
     <bean id="gridServiceEndPointCatalogCreator" parent="abstractCatalogCreator"
          class="gov.nih.nci.cagrid.portal.aggr.catalog.GridServiceEndPointCatalogCreator"
          autowire="byName"/>

</beans>