<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>
    <import resource="classpath:applicationContext-data-access.xml"/>
    <import resource="classpath:applicationContext-aggregators.xml"/>


    <!-- Apply all logging advices to all bean defiinition -->
    <bean name="myBeanNameProxyCreator"
          class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <value>metadataAggregator,initBean,syncGTSInitBean</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>loggingAdvisor</value>
            </list>
        </property>
    </bean>

    <bean name="loggingAdvisor"
          class="gov.nih.nci.cagrid.portal.utils.MethodLoggingAdvisor"/>


    <!-- First thing to do is to sync with GTS to establish trust -->
    <bean id="syncGTSInitBean" class="gov.nih.nci.cagrid.portal.utils.SyncGTSInitUtility">
        <!--Set the indexes to aggregate from-->
        <property name="syncGTSDescriptionFile">
            <value>classpath:sync-description.xml</value>
        </property>
    </bean>


    <!-- Database initi and sync tasks -->
    <bean id="initBean" class="gov.nih.nci.cagrid.portal.utils.DatabaseInitUtility">
        <!--Set the indexes to aggregate from-->
        <property name="indexSet">
            <set>
                <value>http://cagrid04.bmi.ohio-state.edu:7080/wsrf/services/DefaultIndexService</value>
                <value>http://cagrid01.bmi.ohio-state.edu:8080/wsrf/services/DefaultIndexService</value>
            </set>
        </property>
        <property name="manager">
            <ref bean="gridServiceManager"/>
        </property>
    </bean>


</beans>