<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>
    <import resource="classpath:applicationContext-data-access.xml"/>
    <import resource="classpath:applicationContext-aggregators.xml"/>


    <!-- Apply all logging advices to all bean defiinition -->
    <bean name="LoggingAdvisor"
          class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
        <property name="usePrefix" value="true"/>
    </bean>

    <bean name="MethodLogginAdvisor"
          class="gov.nih.nci.cagrid.portal.utils.MethodLoggingAdvisor"/>

</beans>