<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- ========================= RESOURCE DEFINITIONS ========================= -->

	<!-- Configurer that replaces ${...} placeholders with values from a properties file -->
	<!-- (in this case, JDBC-related settings for the dataSource definition below) -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location"
			value="classpath:hibernate.properties" />
	</bean>

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
		p:driverClassName="${hibernate.connection.driver_class}"
		p:maxActive="5" p:maxIdle="2" p:maxWait="180000"
		p:removeAbandoned="true" p:removeAbandonedTimeout="300"
		p:logAbandoned="true" p:testWhileIdle="true" p:testOnReturn="true"
		p:timeBetweenEvictionRunsMillis="300000"
		p:minEvictableIdleTimeMillis="600000"
		p:url="${hibernate.connection.url}"
		p:username="${hibernate.connection.username}"
		p:password="${hibernate.connection.password}" />

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		autowire="byName">
		<property name="annotatedClasses">
			<list>
				<value>gov.nih.nci.cagrid.portal2.domain.Address</value>
				<value>gov.nih.nci.cagrid.portal2.domain.Person</value>
				<value>
					gov.nih.nci.cagrid.portal2.domain.CaGridParticipant
				</value>
				<value>
					gov.nih.nci.cagrid.portal2.domain.PortalUser
				</value>
				<value>
					gov.nih.nci.cagrid.portal2.domain.GridPortalUser
				</value>
				<value>gov.nih.nci.cagrid.portal2.domain.Role</value>
				<value>gov.nih.nci.cagrid.portal2.domain.GridService</value>
				<value>gov.nih.nci.cagrid.portal2.domain.GridDataService</value>
				<value>gov.nih.nci.cagrid.portal2.domain.ServiceAnnotation</value>
			</list>
		</property>
		<!-- 
		<property name="mappingResources">
			<list>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/Address.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/AddressType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/Enumeration.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/EnumerationType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/PointOfContact.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/PointOfContactType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/ResearchCenter.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/ResearchCenterDescription.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/ResearchCenterDescriptionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/ResearchCenterType$PointOfContactCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/ResearchCenterType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/SemanticMetadata.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/SemanticMetadataType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/UMLAttribute.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/UMLAttributeType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/UMLClass.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/UMLClassType$UmlAttributeCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/UMLClassType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/ValueDomain.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/ValueDomainType$EnumerationCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/common/ValueDomainType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/DomainModel.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/DomainModelType$ExposedUMLAssociationCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/DomainModelType$ExposedUMLClassCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/DomainModelType$UmlGeneralizationCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/DomainModelType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLAssociation.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLAssociationEdge.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLAssociationEdgeType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLAssociationType$SourceUMLAssociationEdgeType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLAssociationType$TargetUMLAssociationEdgeType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLAssociationType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLClass.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLClassReference.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLClassReferenceType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLClassType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLGeneralization.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/data/UMLGeneralizationType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/CommunicationMechanism.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/CommunicationMechanismType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/CommunicationStyle.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/CommunicationStyleType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/GSISecureConversation.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/GSISecureConversationType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/GSISecureMessage.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/GSISecureMessageType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/GSITransport.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/GSITransportType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/None.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/NoneType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/Operation.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/OperationType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/ServiceSecurityMetadata.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/ServiceSecurityMetadataType$OperationsType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/security/ServiceSecurityMetadataType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/CaDSRRegistration.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/CaDSRRegistrationType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/ContextProperty.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/ContextPropertyType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/Fault.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/FaultType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/InputParameter.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/InputParameterType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/Operation.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/OperationType$FaultCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/OperationType$InputParameterCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/OperationType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/Output.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/OutputType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/Service.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/ServiceContext.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/ServiceContextType$ContextPropertyCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/ServiceContextType$OperationCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/ServiceContextType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/ServiceType$PointOfContactCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/ServiceType$ServiceContextCollectionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/service/ServiceType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/ServiceMetadata.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/ServiceMetadataType$HostingResearchCenterType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/ServiceMetadataType$ServiceDescriptionType.hbm.xml
				</value>
				<value>
					gov/nih/nci/cagrid/portal2/metadata/ServiceMetadataType.hbm.xml
				</value>

			</list>
		</property>
		-->
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config proxy-target-class="true">
		<aop:pointcut id="daoOperation"
			expression="execution(* gov.nih.nci.cagrid.portal2.dao..*Dao.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="daoOperation" />
	</aop:config>

	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="checkWriteOperations">
			<value>true</value>
		</property>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="daoTemplate" abstract="true">
		<property name="hibernateTemplate">
			<ref local="hibernateTemplate" />
		</property>
	</bean>

	<bean id="addressDao" parent="daoTemplate"
		class="gov.nih.nci.cagrid.portal2.dao.AddressDao" />

	<bean id="personDao" parent="daoTemplate"
		class="gov.nih.nci.cagrid.portal2.dao.PersonDao" />
	<bean id="portalUserDao" parent="daoTemplate"
		class="gov.nih.nci.cagrid.portal2.dao.PortalUserDao" />
	<bean id="gridPortalUserDao" parent="daoTemplate"
		class="gov.nih.nci.cagrid.portal2.dao.GridPortalUserDao" />
	<bean id="caGridParticipantDao" parent="daoTemplate"
		class="gov.nih.nci.cagrid.portal2.dao.CaGridParticipantDao" />
	<bean id="roleDao" parent="daoTemplate"
		class="gov.nih.nci.cagrid.portal2.dao.RoleDao" />
		<!-- 
	<bean id="serviceMetadataDao" parent="daoTemplate"
		class="gov.nih.nci.cagrid.portal2.dao.ServiceMetadataDao" />
 -->
	<bean id="openSessionInViewInterceptor"
		class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor"
		autowire="byName">
		<property name="singleSession">
			<value>true</value>
		</property>
		<property name="flushModeName">
			<value>FLUSH_AUTO</value>
		</property>
	</bean>




</beans>
