<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <!--utilities-->
    
    <import resource="classpath:applicationContext-aggr.xml"/>
    <import resource="classpath:applicationContext-service.xml"/>
    <import resource="classpath:applicationContext-db-aspects.xml"/>

    <bean class="gov.nih.nci.cagrid.portal.util.GridServiceEndPointCEReClassify"
          autowire="byType"
            />
    
   	<bean id="serviceMetadataCatalogEntryBuilderAspect"
 		class="gov.nih.nci.cagrid.portal.aggr.catalog.aspects.ServiceMetadataCatalogEntryBuilderAspect"
 		autowire="byName"/>

</beans>