<!--
  The Ohio State University Research Foundation, The University of Chicago -
  Argonne National Laboratory, Emory University, SemanticBits LLC, 
  and Ekagra Software Technologies Ltd.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/cagrid-portal/LICENSE.txt for details.
-->
<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <import resource="classpath:applicationContext-aggr.xml"/>

    <bean id="serviceStatusChangeNotifier" class="gov.nih.nci.cagrid.portal.notification.ServiceStatusChangeNotifier"
          p:notificationSender-ref="serviceStatusNotificationSender">
          <property name="gridServiceDao" ref="gridServiceDao"/>
    </bean>

    <bean id="baseNotificationSender" class="gov.nih.nci.cagrid.portal.notification.BaseNotificationSender"
          abstract="true">
        <property name="mailSender" ref="portalMailSender">

        </property>
    </bean>

    <bean id="serviceStatusNotificationSender" parent="baseNotificationSender"
          class="gov.nih.nci.cagrid.portal.notification.ServiceStatusNotificationSender"
          p:notificationGenerator-ref="serviceStatusChangeGenerator"
          p:portalUrl="${cagrid.portal.base.url}"/>

    <!--customized to generate service status message-->
    <bean id="serviceStatusChangeGenerator"
          class="gov.nih.nci.cagrid.portal.notification.VelocityNotificationGenerator"
          p:fromAddress-ref="portalAdminMailAddress"
          p:view="gov/nih/nci/cagrid/portal/notification/ServiceStatusChangeNotification.vm"
          p:subject="Portal Notification">
        <property name="velocityEngine">
            <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
                <property name="velocityProperties">
                    <value>
                        resource.loader=class
                        class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
                    </value>
                </property>
            </bean>
        </property>
    </bean>


</beans>