<!--
  The Ohio State University Research Foundation, The University of Chicago -
  Argonne National Laboratory, Emory University, SemanticBits LLC, 
  and Ekagra Software Technologies Ltd.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/cagrid-core/LICENSE.txt for details.
-->
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <import resource="classpath:applicationContext-aggr.xml"/>

    <bean id="metadataChangeMonitor"
          class="gov.nih.nci.cagrid.portal.aggr.metachange.MetadataChangeMonitor">
        <property name="indexServiceUrls" value="${cagrid.portal.indexServiceUrls}"/>
        <property name="dynamicMetadataHashProvider">
            <bean
                    class="gov.nih.nci.cagrid.portal.aggr.metachange.DynamicMetadataHashProvider"
                    p:metadataUtils-ref="metadataUtils">
                <property name="timeout" ref="defaultTimeout"/>
            </bean>
        </property>
        <property name="cachedMetadataHashProvider">
            <bean
                    class="gov.nih.nci.cagrid.portal.aggr.metachange.DBCachedMetadataHashProvider">
                <property name="gridServiceDao" ref="gridServiceDao"/>
            </bean>
        </property>
        <property name="cachedServiceUrlProvider">
            <bean
                    class="gov.nih.nci.cagrid.portal.aggr.regsvc.DBCachedServiceUrlProvider">
                <property name="gridServiceDao" ref="gridServiceDao"/>
            </bean>
        </property>
    </bean>

    <bean id="checkForMetadataChanges"
          class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
        <property name="targetObject" ref="metadataChangeMonitor"/>
        <property name="targetMethod" value="checkForMetadataChanges"/>
    </bean>

    <bean id="checkForMetadataChangesTask"
          class="org.springframework.scheduling.timer.ScheduledTimerTask">
        <property name="delay" ref="defaultDelay"/>
        <property name="period" ref="defaultPeriod"/>
        <property name="timerTask" ref="checkForMetadataChanges"/>
    </bean>


    <bean id="metachangeTimerFactory"
          class="org.springframework.scheduling.timer.TimerFactoryBean">

        <property name="scheduledTimerTasks">
            <list>
                <ref bean="checkForMetadataChangesTask"/>
            </list>
        </property>
    </bean>

</beans>