<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE beans PUBLIC '-//SPRING//DTD BEAN//EN' 'http://www.springframework.org/dtd/spring-beans.dtd'>

<beans>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <property name="mappingDirectoryLocations">
            <value>${build.dest}</value>

        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key='hibernate.max_fetch_depth'>${hibernate.max_fetch_depth}</prop>
                <prop key='hibernate.use_outer_join'>${hibernate.use_outer_join}</prop>
            </props>

        </property>
    </bean>

    <!-- #############   Managers #############                -->

    <!--Base Manager-->
    <bean id="baseManager" class="gov.nih.nci.cagrid.portal.manager.BaseManagerImpl"
          abstract="true">
        <property name="baseDAO">
            <ref bean="baseDAO"/>
        </property>
        <property name="indexDAO">
            <ref bean="indexDAO"/>
        </property>
    </bean>

    <bean name="indexManager" class="gov.nih.nci.cagrid.portal.manager.IndexServiceManagerImpl"
          parent="baseManager"/>


    <!-- #############   DAO #############                -->

    <bean id="indexDAO" class="gov.nih.nci.cagrid.portal.dao.hibernate.IndexDAOImpl">
    </bean>

    <bean id="baseDAO" class="gov.nih.nci.cagrid.portal.dao.hibernate.BaseHibernateDAOImpl">
    </bean>


</beans>