<?xml version="1.0" encoding="UTF-8"?>
<DorianCAConfiguration>
        <CertificateAuthorityType>dbca</CertificateAuthorityType>
        <CertificateAuthorityPassword>password</CertificateAuthorityPassword>
        <AutoCreate>
            <CASubject>C=US,O=abc,OU=xyz,OU=caGrid,OU=Users,CN=caGrid Dorian CA</CASubject>
            <lifetime years="10" months="0" days="0" hours="0" minutes="0" seconds="0"/>
        </AutoCreate>
        <AutoRenewal years="10" months="0" days="0" hours="0" minutes="0" seconds="0"/>
 </DorianCAConfiguration>
