<?xml version="1.0" encoding="UTF-8"?>
<database xmlns="http://cagrid.nci.nih.gov/dorian/conf"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dorian="http://cagrid.nci.nih.gov/dorian/conf">
        <host>localhost</host>
        <port>3306</port>
        <username>root</username>
        <password></password>
</database>

