<?xml version="1.0" encoding="UTF-8"?>
<DorianConfiguration xmlns="http://cagrid.nci.nih.gov/dorian/conf"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dorian="http://cagrid.nci.nih.gov/dorian/conf">
    <DorianInternalId>test_dorian</DorianInternalId>
    <database>
        <host>localhost</host>
        <port>3306</port>
        <username>root</username>
        <password></password>
    </database>
    <IdentityProviderConfiguration>
        <IdentityProviderName>Dorian IdP</IdentityProviderName>
        <UIDLength min="4" max="10"/>
        <PasswordLength min="6" max="10"/>
        <RegistrationPolicy>gov.nih.nci.cagrid.dorian.service.idp.ManualRegistrationPolicy</RegistrationPolicy>
        <AssertingCredentials>
            <AutoRenew>true</AutoRenew>
            <KeyPassword>idpkey</KeyPassword>
        </AssertingCredentials>
    </IdentityProviderConfiguration>
    <IdentityFederationConfiguration>
        <IdentityProviderNameLength min="3" max="50"/>
        <IdentityAssignmentPolicy>name</IdentityAssignmentPolicy>
        <CredentialPolicy>
            <CredentialLifetime years="1" months="0" days="0" hours="0" minutes="0" seconds="0"/>
        </CredentialPolicy>
        <ProxyPolicy>
            <ProxyLifetime hours="12" minutes="0" seconds="0"/>
        </ProxyPolicy>
        <AccountPolicies>
            <AccountPolicy>
                <name>Manual Approval / Manual Renewal</name>
                <classname>gov.nih.nci.cagrid.dorian.service.ifs.ManualApprovalPolicy</classname>
            </AccountPolicy>
            <AccountPolicy>
                <name>Manual Approval / Auto Renewal</name>
                <classname>gov.nih.nci.cagrid.dorian.service.ifs.ManualApprovalAutoRenewalPolicy</classname>
            </AccountPolicy>
            <AccountPolicy>
                <name>Auto Approval / Manual Renewal</name>
                <classname>gov.nih.nci.cagrid.dorian.service.ifs.AutoApprovalPolicy</classname>
            </AccountPolicy>
            <AccountPolicy>
                <name>Auto Approval / Auto Renewal</name>
                <classname>gov.nih.nci.cagrid.dorian.service.ifs.AutoApprovalAutoRenewalPolicy</classname>
            </AccountPolicy>
        </AccountPolicies>
        <!--
        <CRLPublish>
            <gts>https://cagrid01.bmi.ohio-state.edu:8442/wsrf/services/cagrid/GTS</gts>
        </CRLPublish>
        -->
    </IdentityFederationConfiguration>
    <DorianCAConfiguration>
        <CertificateAuthorityPassword>password</CertificateAuthorityPassword>
        <AutoCreate>
            <CASubject>C=US,O=abc,OU=xyz,OU=caGrid,OU=Users,CN=caGrid Dorian CA</CASubject>
            <lifetime years="10" months="0" days="0" hours="0" minutes="0" seconds="0"/>
        </AutoCreate>
        <AutoRenewal years="10" months="0" days="0" hours="0" minutes="0" seconds="0"/>
    </DorianCAConfiguration>
</DorianConfiguration>


