<idp>
	<resource name="IdPConfiguration" class="gov.nih.nci.cagrid.dorian.service.idp.IdPConfiguration">
		<idp-config>
			<uid-length min="4" max="10"/>
		    <password-length min="6" max="10"/>
		    <registration-policy class="gov.nih.nci.cagrid.dorian.service.idp.ManualRegistrationPolicy"/>
		    <asserting-credentials auto="true" renew="true" key-password="idpkey"/>
		    <!-- <asserting-credentials auto="false" renew="false" cert="" key="" key-password=""/> -->
		</idp-config>
	</resource>	
</idp>