 <IdentityFederationConfiguration xmlns="http://cagrid.nci.nih.gov/dorian/conf"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dorian="http://cagrid.nci.nih.gov/dorian/conf">
        <IdentityProviderNameLength min="1" max="2"/>
        <IdentityAssignmentPolicy>id</IdentityAssignmentPolicy>
        <CredentialPolicy>
            <CredentialLifetime years="3" months="4" days="5" hours="6" minutes="7" seconds="8"/>
            <HostCertificateAutoApproval>false</HostCertificateAutoApproval>
        </CredentialPolicy>
        <ProxyPolicy>
            <ProxyLifetime hours="9" minutes="10" seconds="11"/>
        </ProxyPolicy>
        <AccountPolicies>
            <AccountPolicy>
                <name>Manual Approval / Manual Renewal</name>
                <classname>gov.nih.nci.cagrid.dorian.service.ifs.ManualApprovalPolicy</classname>
            </AccountPolicy>
            <AccountPolicy>
                <name>Manual Approval / Auto Renewal</name>
                <classname>gov.nih.nci.cagrid.dorian.service.ifs.ManualApprovalAutoRenewalPolicy</classname>
            </AccountPolicy>
            <AccountPolicy>
                <name>Auto Approval / Manual Renewal</name>
                <classname>gov.nih.nci.cagrid.dorian.service.ifs.AutoApprovalPolicy</classname>
            </AccountPolicy>
            <AccountPolicy>
                <name>Auto Approval / Auto Renewal</name>
                <classname>gov.nih.nci.cagrid.dorian.service.ifs.AutoApprovalAutoRenewalPolicy</classname>
            </AccountPolicy>
        </AccountPolicies>
    </IdentityFederationConfiguration>