/* The popup to Hide and Show */
.infoPopup {
    font-size: 9px;
    display: none;
    position: absolute;
    width: 170px;
    margin-left: 2px;
    padding: 3px 2px 3px 4px;
    border: 1px solid #c93;
    opacity: 1.0;
    z-index: 30;
    word-wrap: break-word;
    background: #ffc url( ../images/pointer.gif ) no-repeat -10px 5px;
}

div.row div.infoPopupValue {
    margin-left: 1em;
}

/* The pointer image is hadded by using another span */
.infoPopup .infoPopup-pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background: url( ../images/pointer.gif ) left top no-repeat;
}

a.infoPopupLink {
    text-decoration: none;
    font-weight: bold;
}
