/*<!--do not change. css modified by doc-to-help-->*/p.glossaryterm {
	margin: 2pt 0pt; line-height: 14pt
}
p.msoautosig {
	margin: 0pt
}
p.msobodytextindent2 {
	margin: 0pt 0pt 6pt 18pt; line-height: 200%
}
p.msotof {
	margin: 0pt
}
p.msotoc7 {
	margin: 0pt 0pt 0pt 60pt
}
p.msoindex5 {
	margin: 0pt 0pt 0pt 50pt; text-indent: -10pt
}
h5 {
	font-weight: bold; margin: 6pt 0pt 0pt
}
p.msonormal {
	margin: 0pt
}
font.c1hpopuptext {
	
}
font.c1htopicproperties {
	display: none
}
p.c1hbullet2a {
	margin: 5pt 0pt 0pt 54pt; text-indent: -18pt; line-height: 14pt; tab-stops: list 54.0pt
}
p.listtable {
	margin: 5pt 0pt 0pt 18pt; text-indent: -18pt; line-height: 14pt; tab-stops: 18.0pt 36.0pt
}
p.msoquote {
	margin: 0pt; color: black; font-style: italic
}
p.msolistparagraph {
	margin: 0pt 0pt 0pt 36pt
}
p.msoblocktext {
	margin: 0pt 72pt 6pt
}
p.msobodytextindent3 {
	margin: 0pt 0pt 6pt 18pt
}
p.msocommenttext {
	margin: 0pt
}
p.msonormalindent {
	margin: 0pt 0pt 0pt 36pt
}
p.msotoc8 {
	margin: 0pt 0pt 0pt 70pt
}
p.msoindex6 {
	margin: 0pt 0pt 0pt 60pt; text-indent: -10pt
}
h6 {
	font-weight: bold; margin: 12pt 0pt 3pt
}
p.c1sectionend {
	margin: 5pt 0pt 0pt; line-height: 14pt
}
font.c1hinlinedropdown {
	
}
font.c1hlinktag {
	
}
font.msohyperlinkfollowed {
	color: purple; text-decoration: underline; text-underline: single
}
p.msotoc9 {
	margin: 0pt 0pt 0pt 80pt
}
p.msoindex7 {
	margin: 0pt 0pt 0pt 70pt; text-indent: -10pt
}
font.c1hpopup {
	
}
p.c1hbullet2 {
	margin: 5pt 0pt 0pt 54pt; text-indent: -18pt; line-height: 14pt; tab-stops: list 54.0pt
}
p.supertitle {
	border-right: medium none; padding-right: 0pt; border-top: medium none; padding-left: 0pt; font-weight: bold; padding-bottom: 0pt; margin: 48pt 0pt 0pt 72pt; border-left: medium none; padding-top: 0pt; border-bottom: medium none; text-align: right
}
address {
	margin: 0pt; font-style: italic
}
p.msolistcontinue {
	margin: 5pt 0pt 0pt 18pt; line-height: 14pt
}
p.msotoaheading {
	font-weight: bold; margin: 6pt 0pt 0pt
}
p.msofooter {
	border-right: medium none; padding-right: 0pt; border-top: medium none; padding-left: 0pt; padding-bottom: 0pt; margin: 0pt; border-left: medium none; padding-top: 0pt; border-bottom: medium none; tab-stops: right 486.0pt
}
p.msoindex8 {
	margin: 0pt 0pt 0pt 80pt; text-indent: -10pt
}
font.c1hconditional {
	
}
p.c1hcontinue {
	margin: 5pt 0pt 0pt 36pt; line-height: 14pt
}
p.sourcetop {
	margin: 5.75pt 0pt 0pt 36pt; line-height: 14pt; tab-stops: 54.0pt 72.0pt 90.0pt 108.0pt 126.0pt 144.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt
}
p.note {
	border-right: medium none; padding-right: 0pt; border-top: medium none; padding-left: 0pt; padding-bottom: 0pt; margin: 9pt 0pt; border-left: medium none; line-height: 14pt; padding-top: 0pt; border-bottom: medium none
}
p.figurestable {
	margin: 3pt 0pt; line-height: 14pt; tab-stops: 18.0pt 36.0pt
}
p.msoclosing {
	margin: 0pt 0pt 0pt 216pt
}
p.msocaption {
	margin: 0pt 0pt 8pt; line-height: 14pt; font-style: italic; tab-stops: 18.0pt 36.0pt
}
p.msoindex9 {
	margin: 0pt 0pt 0pt 90pt; text-indent: -10pt
}
p.msoheading7 {
	margin: 12pt 0pt 3pt
}
p.captiontable {
	margin: 0pt 0pt 8pt; line-height: 14pt; font-style: italic; tab-stops: 18.0pt 36.0pt
}
p.glossaryheading {
	font-weight: bold; margin: 6pt 0pt 0pt
}
p.c1hnumber {
	margin: 5pt 0pt 0pt 36pt; text-indent: -18pt; line-height: 14pt; tab-stops: list 36.0pt
}
p.bodytable {
	margin: 5.75pt 0pt 0pt
}
p.definition {
	margin: 5.75pt 0pt 0pt; line-height: 14pt
}
p.msobodytext2 {
	margin: 0pt 0pt 6pt; line-height: 200%
}
p.msolistbullet {
	margin: 0pt 0pt 0pt 18pt; text-indent: -18pt; tab-stops: list 18.0pt
}
p.msoheading8 {
	margin: 12pt 0pt 3pt; font-style: italic
}
p.c1sectionexpanded {
	font-weight: bold; margin: 2pt 0pt
}
p.headerbase {
	margin: 0pt
}
p.figures {
	margin: 3pt 0pt; line-height: 14pt; tab-stops: 18.0pt 36.0pt
}
p.codeexplained {
	margin: 5pt 0pt 2pt 36pt; line-height: 14pt
}
p.headingbase {
	font-weight: bold; margin: 0pt
}
p.msobodytext3 {
	margin: 0pt 0pt 6pt
}
p.msoheader {
	margin: 0pt; tab-stops: right 486.0pt
}
p.msoheading9 {
	margin: 12pt 0pt 3pt
}
p.glossaryheadingnoautolinks {
	font-weight: bold; margin: 6pt 0pt 0pt
}
font.c1hkeywordlink {
	
}
p.midtopic {
	font-weight: bold; margin: 9pt 0pt 7pt
}
p.c1hnumber2 {
	margin: 5pt 0pt 0pt 54pt; text-indent: -18pt; line-height: 14pt; tab-stops: list 54.0pt
}
font.c1hgroupinvisible {
	display: none
}
p.marginnote {
	margin: 3pt 0pt; line-height: 14pt; font-style: italic
}
font.c1hgroup {
	
}
p.indexbase {
	margin: 0pt
}
p.msocommentsubject {
	font-weight: bold; margin: 0pt
}
p.msolistcontinue2 {
	margin: 5pt 0pt 0pt 36pt; line-height: 14pt
}
p.msosignature {
	margin: 0pt 0pt 0pt 216pt
}
p.jumpbase {
	margin: 0pt 0pt 3pt; line-height: 14pt
}
font.c1hinlineexpand {
	
}
p.list2table {
	margin: 5pt 0pt 0pt 36pt; text-indent: -18pt; line-height: 14pt; tab-stops: 36.0pt
}
p.bodytexttable {
	margin: 5pt 0pt 0pt; line-height: 14pt
}
p.msoplaintext {
	margin: 0pt
}
p.msosubtitle {
	margin: 0pt 0pt 3pt; text-align: center
}
p.msomessageheader {
	border-right: medium none; padding-right: 0pt; border-top: medium none; padding-left: 0pt; background: #cccccc; padding-bottom: 0pt; margin: 0pt 0pt 0pt 54pt; border-left: medium none; text-indent: -54pt; padding-top: 0pt; border-bottom: medium none
}
p.msolistcontinue3 {
	margin: 0pt 0pt 6pt 54pt
}
p.msolistbullet2 {
	margin: 0pt 0pt 0pt 36pt; text-indent: -18pt; tab-stops: list 36.0pt
}
p.msoendnotetext {
	margin: 0pt
}
p.msoenvelopeaddress {
	margin: 0pt 0pt 0pt 144pt
}
font.html {
	color: green
}
p.jumpfromlist {
	margin: 0pt 0pt 3pt; line-height: 14pt
}
font.c1hexpandtext {
	font-style: italic
}
font.c1hindex {
	
}
p.tableheading {
	font-weight: bold; margin: 3pt 3.6pt 0pt
}
p.relatedhead {
	font-weight: bold; margin: 9pt 0pt 1pt; color: blue
}
p.footerodd {
	border-right: medium none; padding-right: 0pt; border-top: medium none; padding-left: 0pt; padding-bottom: 0pt; margin: 0pt; border-left: medium none; padding-top: 0pt; border-bottom: medium none; tab-stops: right 486.0pt
}
p.byline {
	font-weight: bold; margin: 12.1pt 0pt 36.1pt; text-align: right
}
font.msohyperlink {
	color: blue; text-decoration: underline; text-underline: single
}
p.msolistcontinue4 {
	margin: 0pt 0pt 6pt 72pt
}
p.msolistbullet3 {
	margin: 0pt 0pt 0pt 54pt; text-indent: -18pt; tab-stops: list 54.0pt
}
p.msoindexheading {
	font-weight: bold; margin: 15.1pt 0pt 6.1pt
}
p.c1hsectionexpanded {
	font-weight: bold; margin: 2pt 0pt
}
font.c1hindexinvisible {
	display: none
}
p.source {
	margin: 0pt 0pt 0pt 36pt; line-height: 14pt; tab-stops: 54.0pt 72.0pt 90.0pt 108.0pt 126.0pt 144.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt
}
p.codebase {
	margin: 5pt 0pt 0pt; line-height: 14pt
}
p.msonospacing {
	margin: 0pt
}
p.msobodytextfirstindent {
	margin: 0pt 0pt 6pt; text-indent: 10.5pt
}
p.msolistcontinue5 {
	margin: 0pt 0pt 6pt 90pt
}
p.msolistbullet4 {
	margin: 0pt 0pt 0pt 72pt; text-indent: -18pt; tab-stops: list 72.0pt
}
font.msocommentreference {
	
}
p.msofootnotetext {
	font-weight: bold; margin: 0pt
}
p.c1hsectioncollapsed {
	font-weight: bold; margin: 2pt 0pt
}
p.keywordlink {
	border-right: medium none; padding-right: 0pt; border-top: medium none; padding-left: 0pt; font-weight: bold; padding-bottom: 0pt; margin: 9pt 0pt 1pt; border-left: medium none; color: blue; padding-top: 0pt; border-bottom: medium none
}
font.c1hcontextid {
	display: none
}
font.c1hlinktaginvisible {
	display: none
}
p.msolistbullet5 {
	margin: 0pt 0pt 0pt 90pt; text-indent: -18pt; tab-stops: list 90.0pt
}
p.msoenvelopereturn {
	margin: 0pt
}
p.msotoc1 {
	font-weight: bold; margin: 12pt 0pt 6pt
}
p.jumpfromcontents {
	font-weight: bold; margin: 1pt 0pt 3pt; line-height: 14pt
}
font.c1hgrouplink {
	
}
p.toctitle {
	font-weight: bold; margin: 9pt 0pt 7pt
}
p.tabletext {
	margin: 2pt 3.6pt
}
p.msodocumentmap {
	margin: 0pt
}
p.msonoteheading {
	margin: 0pt
}
p.msosalutation {
	margin: 0pt
}
p.msotitle {
	font-weight: bold; margin: 12.1pt 0pt 36.1pt; text-align: right
}
p.msolistnumber2 {
	margin: 0pt 0pt 0pt 36pt; text-indent: -18pt; tab-stops: list 36.0pt
}
p.msolist2 {
	margin: 5pt 0pt 0pt 36pt; text-indent: -18pt; line-height: 14pt; tab-stops: 36.0pt
}
p.msotoa {
	margin: 0pt 0pt 0pt 10pt; text-indent: -10pt
}
p.msotoc2 {
	margin: 3pt 0pt; text-decoration: underline; text-underline: double
}
font.c1hdropdowntext {
	
}
font.c1honline {
	
}
p.c1hbullet {
	margin: 5pt 0pt 0pt 36pt; text-indent: -18pt; line-height: 14pt; tab-stops: list 36.0pt
}
p.tableborder {
	margin: 0pt; line-height: 1pt
}
p.headereven {
	margin: 0pt; tab-stops: right 486.0pt
}
p.msobodytextindent {
	margin: 0pt 0pt 6pt 14.15pt
}
p.msolistnumber3 {
	margin: 0pt 0pt 0pt 54pt; text-indent: -18pt; tab-stops: list 54.0pt
}
p.msolist3 {
	margin: 0pt 0pt 0pt 54pt; text-indent: -18pt
}
p.msolist {
	margin: 5pt 0pt 0pt 18pt; text-indent: -18pt; line-height: 14pt; tab-stops: 18.0pt
}
p.msomacrotext {
	margin: 0pt; tab-stops: 24.0pt 48.0pt 72.0pt 96.0pt 120.0pt 144.0pt 168.0pt 192.0pt 216.0pt
}
p.msotoc3 {
	margin: 0pt
}
p.msoindex1 {
	margin: 0pt
}
h1 {
	font-weight: bold; margin: 10pt 0pt 8pt
}
p.c1sectioncollapsed {
	font-weight: bold; margin: 2pt 0pt
}
p.c1hpopuptopictext {
	margin: 5pt 0pt 0pt; line-height: 14pt
}
font.c1hjump {
	
}
p.tocbase {
	margin: 0pt
}
p.footereven {
	border-right: medium none; padding-right: 0pt; border-top: medium none; padding-left: 0pt; padding-bottom: 0pt; margin: 0pt; border-left: medium none; padding-top: 0pt; border-bottom: medium none; tab-stops: right 486.0pt
}
font.d2hnogloss {
	
}
pre {
	margin: 0pt; tab-stops: 36.0pt
}
p.msodate {
	margin: 0pt
}
p.msolistnumber4 {
	margin: 0pt 0pt 0pt 72pt; text-indent: -18pt; tab-stops: list 72.0pt
}
p.msolist4 {
	margin: 0pt 0pt 0pt 72pt; text-indent: -18pt
}
p.msolistnumber {
	margin: 0pt 0pt 0pt 18pt; text-indent: -18pt; tab-stops: list 18.0pt
}
font.msofootnotereference {
	position: relative; top: -3pt
}
p.msotoc4 {
	margin: 0pt 36pt 0pt 108pt
}
p.msoindex2 {
	margin: 0pt 0pt 0pt 18pt
}
h2 {
	font-weight: bold; margin: 9pt 0pt 7pt
}
font.c1hinlinepopup {
	
}
font.c1hmanual {
	
}
p.whatsthis {
	font-weight: bold; margin: 9pt 0pt 7pt
}
p.c1hcontinue2 {
	margin: 5pt 0pt 0pt 54pt; line-height: 14pt
}
p.jump {
	margin: 0pt 0pt 3pt; line-height: 14pt
}
p.msointensequote {
	border-right: medium none; padding-right: 0pt; border-top: medium none; padding-left: 0pt; font-weight: bold; padding-bottom: 0pt; margin: 10pt 46.8pt 14pt; border-left: medium none; color: #4f81bd; padding-top: 0pt; border-bottom: medium none; font-style: italic
}
p.msolistnumber5 {
	margin: 0pt 0pt 0pt 90pt; text-indent: -18pt; tab-stops: list 90.0pt
}
p.msolist5 {
	margin: 0pt 0pt 0pt 90pt; text-indent: -18pt
}
p.msotoc5 {
	margin: 0pt 0pt 0pt 40pt
}
p.msoindex3 {
	margin: 0pt 0pt 0pt 36pt
}
h3 {
	font-weight: bold; margin: 9pt 0pt 7pt
}
p.c1hsectionend {
	font-weight: bold; margin: 2pt 0pt
}
font.c1hcontentstitle {
	
}
p.headerodd {
	margin: 0pt; tab-stops: right 486.0pt
}
p.msobibliography {
	margin: 0pt
}
p.msobodytextfirstindent2 {
	margin: 0pt 0pt 6pt 18pt; text-indent: 10.5pt
}
p.msobodytext {
	margin: 5pt 0pt 0pt; line-height: 14pt
}
p.msotoc6 {
	margin: 0pt 0pt 0pt 50pt
}
p.msoindex4 {
	margin: 0pt 0pt 0pt 40pt; text-indent: -10pt
}
h4 {
	font-weight: bold; margin: 2pt 0pt
}
