<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://www.cagrid.org/1/grape"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.cagrid.org/1/grape file:/C:/projects/cagrid-1-0/caGrid/projects/grape/schema/grape.xsd">
    <name>Introduce: Grid Service Authoring Toolkit</name>
    <icon>/applications-internet.png</icon>
    <ApplicationLogo>/caGrid.gif</ApplicationLogo>
    <AboutHTML><![CDATA[<html><center><h2>Introduce: Grid Service Authoring Toolkit</h2></center><center><h3>Version 1.1</h3></center><br><center><h3>This software is produced by<br>The Ohio State University<br>Department of Biomedicalinformatics (http://bmi.osu.edu)</h3></center><br><center><h3><a href="http://www.cagrid.org/mwiki/index.php?title=Introduce">http://www.cagrid.org/mwiki/index.php?title=Introduce</a></h3></center><br><h3>Authors:</h3><br><a href="mailto:hastings@bmi.osu.edu">Shannon Hastings</a><br><a href="mailto:langella@bmi.osu.edu">Stephen Langella</a><br> <a href="mailto:oster@bmi.osu.edu">Scott Oster</a><br><a href="mailto:ervin@bmi.osu.edu">David Ervin</a>]]></AboutHTML>
    <dimensions>
        <width>1024</width>
        <height>768</height>
    </dimensions>b
    <initializerClass>gov.nih.nci.cagrid.introduce.portal.init.IntroducePortalInitializer</initializerClass>
    <menus>
        <menu>
            <title>Service Development Tools</title>
            <description>Service Development Tools</description>
            <showIcons>true</showIcons>
            <components>
                <component>
                    <title>Create Service Skeleton</title>
                    <description>Create Service Skeleton</description>
                    <classname>gov.nih.nci.cagrid.introduce.portal.creation.CreationViewer</classname>
                    <icon>/cog_add.png</icon>
                    <showOnToolBar>true</showOnToolBar>
                    <dimensions>
                        <width>600</width>
                        <height>350</height>
                    </dimensions>
                </component>
                <component>
                    <title>Create caGrid Service Skeleton</title>
                    <description>Create caGrid Service Skeleton</description>
                    <classname>gov.nih.nci.cagrid.introduce.portal.creation.CaBIGCreationViewer</classname>
                    <icon>/caGrid_small.png</icon>
                    <showOnToolBar>true</showOnToolBar>
                    <dimensions>
                        <width>700</width>
                        <height>400</height>
                    </dimensions>
                </component>
                 <component>
                    <title>Modify Service</title>
                    <description>Modify Grid Service</description>
                    <classname>gov.nih.nci.cagrid.introduce.portal.modification.ModificationViewer</classname>
                    <icon>/cog_edit.png</icon>
                    <showOnToolBar>true</showOnToolBar>
                    <dimensions>
                        <width>800</width>
                        <height>300</height>
                    </dimensions>
                </component>
                   <component>
                    <title>Deploy Service</title>
                    <description>Deploy Service</description>
                    <classname>gov.nih.nci.cagrid.introduce.portal.deployment.DeploymentViewer</classname>
                    <icon>/cog_go.png</icon>
                    <showOnToolBar>false</showOnToolBar>
                    <dimensions>
                        <width>500</width>
                        <height>325</height>
                    </dimensions>
                </component>
                 <component>
                    <title>Browse Data Types</title>
                    <description>Browse Data Types</description>
                    <classname>gov.nih.nci.cagrid.introduce.portal.discoverytools.core.TypesToolsComponent</classname>
                    <icon>/models.png</icon>
                    <showOnToolBar>false</showOnToolBar>
                    <dimensions>
                        <width>550</width>
                        <height>400</height>
                    </dimensions>
                </component>
            </components>
        </menu>
    </menus>

    <configuration>
    </configuration>
</application>
