<html>
<div>
    The service ${serviceUrl} has changed status from ${oldStatus} to ${newStatus} in the caGrid Portal.
    <p>
        You are receiving
        this notification, becuase you registered to receive notifications for this service. Please
        visit the <a href="${portalUrl}">caGrid Portal</a>
        for more information or to change your notification settings.
    </p>
</div>
<br/>

<div>
Thanks,
<br/>
Portal Admin
<br/>
${portalUrl}
</div>
</html>